.wrapperSection {
  position: relative;
  padding-top: 81px;

  @media screen and (min-width: 768px) {
    padding-top: 70px;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.primaryTitle {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding-right: 65px;
  padding-left: 65px;
  width: 445px;
  color: var(--primary-white);
  text-align: center;
  font-family: Jura;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  box-sizing: border-box;
  @media screen and (min-width: 768px) {
    width: 690px;
    padding-right: 35px;
    padding-left: 35px;
    font-size: 45px;
  }
  @media screen and (min-width: 1440px) {
    width: 790px;
    margin-bottom: 42px;
    padding-right: 55px;
    padding-left: 55px;
    font-size: 50px;
  }
  @media screen and (min-width: 1920px) {
    width: 1015px;
    padding-right: 75px;
    padding-left: 75px;
    font-size: 64px;
  }
}

.heroDescription {
  margin-bottom: 45px;
  color: var(--primary-white);
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.004%;
  @media screen and (min-width: 768px) {
    width: 575px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 28px;
    padding-left: 28px;
    font-size: 20px;
  }
  @media screen and (min-width: 1440px) {
    width: 575px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 22px;
  }
}
.wrapperHeroDescription {
  @media screen and (min-width: 1440px) {
    display: inline-flex;
    gap: 51px;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 1920px) {
    gap: 190px;
  }
}
.wrapperBtn {
  width: 318px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 1440px) {
    margin-right: 0;
    margin-left: 0;
  }
}
