.wrapperSectionInvitation {
  position: relative;
  overflow: hidden;
  padding: 100px 0px;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    width: 616.666px;
    height: 360.049px;
    transform: rotate(155.185deg);
    flex-shrink: 0;
    top: -341px;
    left: -410px;
    background: linear-gradient(
        205deg,
        #6823ff 14.5%,
        rgba(255, 255, 255, 0) 84.34%
      ),
      url("../../../public/svgIcon/infoVectorRight.svg") no-repeat center;
    background-size: cover;
    filter: blur(50px);
    opacity: 0.5;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 616.666px;
    height: 360.049px;
    transform: rotate(155.185deg);
    flex-shrink: 0;
    bottom: -222px;
    right: -236px;
    background: linear-gradient(
        205deg,
        #6823ff 14.5%,
        rgba(255, 255, 255, 0) 84.34%
      ),
      url("../../../public/svgIcon/infoVectorRight.svg") no-repeat center;
    background-size: cover;
    filter: blur(50px);
    opacity: 0.5;
    z-index: -1;
  }
  @media screen and (min-width: 768px) {
    padding-top: 70px;
    &::before {
      top: -327px;
      left: -207px;
    }

    &::after {
      bottom: -223px;
      right: -151px;
    }
  }
  @media screen and (min-width: 1440px) {
    &::before {
      top: -234px;
      left: -73px;
    }

    &::after {
      bottom: -138px;
      right: -236px;
    }
  }
  @media screen and (min-width: 1440px) {
    &::before {
      top: -234px;
      left: -73px;
    }

    &::after {
      bottom: -138px;
      right: -236px;
    }
  }
  @media screen and (min-width: 1920px) {
    &::before {
      top: -194px;
      left: 78px;
    }

    &::after {
      bottom: -104px;
      right: 48px;
    }
  }
}
.titleInvitation {
  width: 445px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  color: var(--primary-black);
  text-align: center;
  font-family: Jura;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media screen and (min-width: 768px) {
    padding-top: 70px;
  }
}
.iconLeft {
  position: absolute;
  width: 616.666px;
  height: 360.04px;
  transform: rotate(155.185deg);
  top: -327px;
  left: -207px;

  background-size: cover;

  filter: blur(50px);
}
